.login-container {
    height: 700px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.other-options-form {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

@media screen and (max-width: 800px) {
    .login-container {
        height: 1000px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .other-options-form {

        margin: 40px 120px;
        margin-top: 70px;
    }

    .auth-sign-in-btn {
        padding: 20px 40px;
    }

}